/* .camera-container {
    display: flex;
    flex-direction: column;
} */

/* .buttons-container {
    display: flex;
    flex-direction: row;
} */

h2 {
    display: flex;
    justify-content: center;
}

.buttons-container{
    display: flex;
    justify-content: center;
}

.container {
    width: 120vh;
    height: 100vh;
    position: relative;
    border: 1px solid black;
}